@model IEnumerable<OA.Model.ProjectList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JsCss.cshtml";
}

<div style="margin-top:5px;">
    <div class="input-group col-sm-2" style="margin-bottom:5px;position:relative">
        @Html.DropDownList("Status", new List<SelectListItem>
        {
            ( new SelectListItem() { Text="未完成",Value="0",Selected=true}),
            (new SelectListItem() { Text="已完成",Value="1",Selected=false})
        }, new { @class = "form-control" })
    </div>
    <div class="input-group col-sm-4" style="margin-bottom:5px;position:relative">
        <span class="input-group-btn">
            <button class="btn btn-info bt-search" id="serachBtn">查找</button>
            <button class="btn btn-info bt-search">@Html.ActionLink("新增项目", "CreateAndEditer")</button>
        </span>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>
            项目名称
        </th>
        <th>
            开始时间
        </th>
        <th>
            结束时间
        </th>
        <th>
            进度
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.StartDate.ToString().Substring(0, 10)
            </td>
            <td>
                @item.EndDate.ToString().Substring(0, 10)
            </td>
            <td>
                <div class="progress progress-info">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="40"
		                     aria-valuemin="0" aria-valuemax="100" style="width: @item.Done%;">@Html.DisplayFor(modelItem => item.Done)%
                    </div>
                </div>
                @*@Html.DisplayFor(modelItem => item.Done)*@
            </td>
            <td>
                @{
                   
                        <a href="Detail?id=@item.ProjectId">详细|</a>
                        <a href="javascript:void(0)" onclick="deleteProject(@item.ProjectId)">删除</a>
                    }
            </td>
        </tr>
                    }
</table>

<script type="text/javascript">
    $(function () {
        $("#serachBtn").on("click", function () {
            window.location = "Index?status=" + $("#Status").val();
        })
    })
    function deleteProject(id){
        $.ajax({
            url:"DeleteProject?id="+id,
            datatype:"json",
            type:"post",
            success:function(data){
                if(data!=null){
                    window.location="Index?status=" + $("#Status").val();
                }
            }
        })
    }
</script>
