
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MyNeedJs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">
        body{
        padding:0px;
          }
        .tree ul li{
            list-style-type:none;
        }

          button a {
        color: white;
        text-decoration-line: none;
    }

        button a:hover {
            color: white;
            text-decoration-line: none;
        }
    </style>
</head>
<body>
 @RenderBody()

</body>
</html>
